@import "node_modules/@biotope/element/lib/host.mixin";

@include host("my-accordion") {
	.accordion {
		margin: 10px 15px;
		padding: 15px 0px;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		background-color: #e5f2fc;
		z-index: -1;
		&__flexWrapper {
			display: flex;
			justify-content: flex-end;
		}
		&__closeOpenAll {
			margin: 5px;
			font-size: 0.8em;
			color: gray;
			cursor: pointer;
			border: none;
			background-color: inherit;
		}
		&__dropDown {
			margin: 0px;
			padding: 15px 18px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			z-index: -1;
			border: 2px solid #415278;
			border-top: none;
		}

		&__headline {
			margin: 0;
			position: relative;
			background-color: #415278;
			color: white;
			cursor: pointer;
			padding: 18px;
			font-size: 1.2em;
			transition: 0.4s;
			z-index: 2;

			&:before {
				content: "";
				width: 20px;
				height: 20px;
				background-color: #415278;
				position: absolute;
				top: 51px;
				right: 5vw;
				transform: translateX(-50%) rotate(45deg);
				z-index: -2;
				transition: 0.4s;
			}

			&:hover {
				background-color: #29344d;
				&:before {
					background-color: #29344d;
				}
			}

			&--active {
				background-color: #1c2436;

				&:before {
					background-color: #e5f2fc;
				}
				&:hover {
					&:before {
						background-color: #e5f2fc;
					}
				}
			}
		}
	}
}
