@import "node_modules/@biotope/element/lib/host.mixin";

@include host("my-accordion") {
	.accordion {
		margin: 0 15px;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
			background-color: #e5f2fc;

		&__closeOpenAll {
			margin-left: 10px;
			font-size: 0.8em;
			color: gray;
			text-align: right;
			cursor: pointer;
		}

		&__dropDown {
			padding: 0 18px;
			background-color: #e5f2fc;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
		}

		&__headline {
			background-color: #415278;
			color: white;
			cursor: pointer;
			padding: 18px;
			margin: 3px 0px;
			font-size: 1.2em;
			transition: 0.4s;

			::before{
				content: "+ ";
				color: #e5f2fc;
			}

			&:hover {
				background-color: #29344d;
			}

			&--active {
				background-color: #1C2436;
			
				::before{
				content:"-- ";
				color: #e5f2fc;
			}
			}

		}
	}
}
